<h2 class="page-header">Member Login</h2>
<form method="post" action="/users/login">
    <label>Username</label>
    <div class="form-group">
        <input type="text" class="form-control" name="username" placeholder="Username">
        <span class="fa fa-user form-control-feedback" area-hidden='true'></span>
    </div>
    <p></p>
    <label>Password</label>
    <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="Password">
        <span class="fa fa-unlock-alt form-control-feedback" area-hidden='true'></span>
    </div>
    <p></p>
    <button type="submit" class="btn btn-basic">log in</button>
</form>

