<h2 class="page-header">Request a main user</h2>
{{#if errors}}
    {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
    {{/each}}
{{/if}}
<form method="post" action="/users/request-a-main-user">
    <label>E-mail</label>
    <div class="form-group has-feedback">
        <input type="email" data-validation="email" class="form-control" id="invEmail" name="inviteEmail" placeholder="Enter e-mail of the main user">
        <span class="fa fa-envelope form-control-feedback" area-hidden='true'></span>
    </div>
    <button type="submit" id="btn-send" class="btn btn-basic">invite</button>
</form>

<script>
    $.validate({
        lang: 'en'
    });
</script>