<form action="/users/verify" method="post"><input name="pin" required="" type="number" placeholder="Please enter your 4 digit PIN code" />
    <input name="requestId" type="hidden" value="<%=" />" >
    <input type="submit" value="Verify PIN" />
</form>